<div class="row main-content text-left">

  <div class="col-xs-8">
    <select class="form-control" ng-model="selectedFilter" ng-change="changeFilter(selectedFilter)">
      <option ng-repeat="filter in filters" value="<% filter %>" ng-selected="selectedFilter == filter"><% filter %></option>
    </select>
  </div>

  <br/><br/>

  <div class="col-xs-8">
    <table class="table table-bordered table-striped">
      <thead>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Buy</th>
      </thead>
      <tbody>
        <tr ng-repeat="sweet in sweeties">
          <td><% sweet.name %></td>
          <td><% sweet.type %></td>
          <td><% sweet.price %></td>
          <td><a href="" class="btn btn-xs btn-primary" ng-click="addToBasket(sweet)">Add</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-4" ng-controller="BasketCtrl">
    <table class="table table-bordered table-striped">
      <thead>
        <th>Service</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td><% item.name %></td>
          <td><% item.price %></td>
          <td><% item.quantity %></td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td>
            <span><strong><% basketService.formattedTotal() %></strong></span>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
